<!DOCType html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Audizen Server</title>
    </head>
    <body>
        <h1>Welcome to Audizen development server</h1>
        <br>
        <h2>Audio file upload form</h2>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <span>File Name:</span>
            <input type="text" name="filename" size="30"> <br>
            <input type="file" name="audiofile" size="50"> <br>
            <input type="submit" value="send">
        </form>
    </body>
</html>
